@import "../../styles/variables";
@import "../../styles/mixins";

.nav {
  background: $purple;
  // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

  .nav-content {
    margin: 0 auto;
    height: 70px;
    min-height: 80px;
    max-width: 1024px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .left-nav {
      width: 350px;

      &__word-logo {
        width: 105px;
      }
    }

    .right-nav {
      width: 350px;
      text-align: right;

      button {
        min-width: 80px;
        border: 1px solid $snow-white;
        border-radius: 3px;
        color: $snow-white;
        background-color: transparent;
        margin-right: 10px;
        padding: 8px 10px 10px 10px;
        font-size: 1.4rem;
        font-weight: 200;
        align-items: center;
        line-height: 1.2;
      }
      button:hover {
        cursor: pointer;
      }
      .signup {
        border: 1px solid $snow-white;
        color: $purple;
        background-color: $snow-white;
      }
    }
  }
}
