$purple: rgb(66, 43, 216);
$dark-purple: #252734;
$orange: rgb(255, 156, 64);
$dark-gray: rgb(172, 174, 184);
$white: #fff8f8;
$black: #000000;
$background: #f2f3f7;

$black-void: #000;
$mirage: #979797;
$ambient-gray: #252734;
$silver-lining: #ededef;
$elans-grey: #eae6fa;
$franks-grey: #f9f8f9;
$snow-white: #fff;
$background: #F2F3F7;

//media queries
$mobile: "only screen and (max-width:500px)";
$tablet: "only screen and (max-width:1200px)";
$tablet-small: "only screen and (max-width:800px)";
$tablet-short: "only screen and (max-height:550px)";
$desktop: "only screen and (min-width:1200px)";
